In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('store_data.csv' , header=None)

## To ind the Support

In [4]:
##Making the list we need to iterate the each transaction
transaction_list = df.values.tolist()
##Creating the numpyArray just in case i Need it the future
transaction_array = np.array(transaction_list)

In [6]:
## to count the occurence of each itemset in each transaction
item_dix = {}
for i in range(0 , len(transaction_list)):
    for j in range(0,len(transaction_list[i])):
        if transaction_list[i][j] not in item_dix:
            item_dix[transaction_list[i][j]] = 1
        else:
             item_dix[transaction_list[i][j]] =   item_dix.get(transaction_list[i][j]) + 1

In [7]:
print(item_dix)

{'shrimp': 536, 'almonds': 153, 'avocado': 250, 'vegetables mix': 193, 'green grapes': 68, 'whole weat flour': 70, 'yams': 86, 'cottage cheese': 239, 'energy drink': 200, 'tomato juice': 228, 'low fat yogurt': 574, 'green tea': 991, 'honey': 356, 'salad': 37, 'mineral water': 1788, 'salmon': 319, 'antioxydant juice': 67, 'frozen smoothie': 475, 'spinach': 53, 'olive oil': 494, 'burgers': 654, 'meatballs': 157, 'eggs': 1348, nan: 120657, 'chutney': 31, 'turkey': 469, 'milk': 972, 'energy bar': 203, 'whole wheat rice': 439, 'whole wheat pasta': 221, 'french fries': 1282, 'soup': 379, 'light cream': 117, 'shallot': 58, 'frozen vegetables': 715, 'spaghetti': 1306, 'pet food': 49, 'cookies': 603, 'cooking oil': 383, 'champagne': 351, 'chocolate': 1230, 'chicken': 450, 'oil': 173, 'fresh tuna': 167, 'tomatoes': 513, 'black tea': 107, 'extra dark chocolate': 90, 'protein bar': 139, 'red wine': 211, 'pasta': 118, 'pepper': 199, 'shampoo': 37, 'rice': 141, 'sparkling water': 47, 'ham': 203, 'body spray': 86, 'pancakes': 713, 'grated cheese': 393, 'white wine': 124, 'toothpaste': 61, 'parmesan cheese': 149, 'fresh bread': 323, 'ground beef': 737, 'escalope': 595, 'herb & pepper': 371, 'tomato sauce': 106, 'magazines': 82, 'strawberries': 160, 'strong cheese': 58, 'pickles': 45, 'cake': 608, 'hot dogs': 243, 'brownies': 253, 'cereals': 193, 'clothes accessories': 63, 'bug spray': 65, 'muffins': 181, 'light mayo': 204, 'gums': 101, 'soda': 47, 'cider': 79, 'corn': 36, 'yogurt cake': 205, 'mint': 131, 'butter': 226, 'asparagus': 35, 'french wine': 169, 'salt': 69, 'tea': 29, 'barbecue sauce': 81, 'mayonnaise': 46, 'zucchini': 71, 'carrots': 115, 'mushroom cream sauce': 143, 'candy bars': 73, 'chili': 46, 'mashed potato': 31, 'nonfat milk': 78, 'water spray': 3, 'chocolate bread': 32, 'mint green tea': 42, 'eggplant': 99, 'blueberries': 69, 'bacon': 65, 'fromage blanc': 102, 'gluten free bar': 52, 'dessert wine': 33, 'flax seed': 68, 'hand protein bar': 39, 'sandwich': 34, 'babies food': 34, 'melons': 90, 'cauliflower': 36, 'green beans': 65, 'ketchup': 33, 'bramble': 14, 'burger sauce': 44, 'oatmeal': 33, ' asparagus': 1, 'cream': 7, 'napkins': 5}

In [8]:
## I only care about the value so storing it in another list
values = []
values.append(item_dix.values())

In [9]:
df1 = pd.DataFrame(values)
df2=df1.T  # Taking the Transpose
df3=df2/7501 # to find the support of each item 
df3.describe()

                0
count  121.000000
mean     0.165289
std      1.459958
min      0.000133
25%      0.007732
50%      0.015731
75%      0.042528
max     16.085455

In [ ]:
## so what should be taken as minimum support mean or median ?