In [256]:
import numpy as np
import pandas as pd
from apyori import apriori

In [257]:
import matplotlib.pyplot as plt
%matplotlib inline

In [258]:
df = pd.read_csv('store_data.csv' , header=None)
df.shape
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## To ind the Support

In [259]:
##Making the list we need to iterate the each transaction
transaction_list = df.values.tolist()
##Creating the numpyArray just in case i Need it the future
transaction_array = np.array(transaction_list)

In [260]:




## to count the occurence of each itemset in each transaction
item_dix = {}
for i in range(0 , len(transaction_list)):
    for j in range(0,len(transaction_list[i])):
        if transaction_list[i][j] not in item_dix:
            item_dix[transaction_list[i][j]] = 1
        else:
             item_dix[transaction_list[i][j]] =   item_dix.get(transaction_list[i][j]) + 1

In [239]:
item_dix

{'shrimp': 536,
 'almonds': 153,
 'avocado': 250,
 'vegetables mix': 193,
 'green grapes': 68,
 'whole weat flour': 70,
 'yams': 86,
 'cottage cheese': 239,
 'energy drink': 200,
 'tomato juice': 228,
 'low fat yogurt': 574,
 'green tea': 991,
 'honey': 356,
 'salad': 37,
 'mineral water': 1788,
 'salmon': 319,
 'antioxydant juice': 67,
 'frozen smoothie': 475,
 'spinach': 53,
 'olive oil': 494,
 'burgers': 654,
 'meatballs': 157,
 'eggs': 1348,
 nan: 120657,
 'chutney': 31,
 'turkey': 469,
 'milk': 972,
 'energy bar': 203,
 'whole wheat rice': 439,
 'whole wheat pasta': 221,
 'french fries': 1282,
 'soup': 379,
 'light cream': 117,
 'shallot': 58,
 'frozen vegetables': 715,
 'spaghetti': 1306,
 'pet food': 49,
 'cookies': 603,
 'cooking oil': 383,
 'champagne': 351,
 'chocolate': 1230,
 'chicken': 450,
 'oil': 173,
 'fresh tuna': 167,
 'tomatoes': 513,
 'black tea': 107,
 'extra dark chocolate': 90,
 'protein bar': 139,
 'red wine': 211,
 'pasta': 118,
 'pepper': 199,
 'shampoo': 37,
 'rice': 141,
 'sparkling water': 47,
 'ham': 203,
 'body spray': 86,
 'pancakes': 713,
 'grated cheese': 393,
 'white wine': 124,
 'toothpaste': 61,
 'parmesan cheese': 149,
 'fresh bread': 323,
 'ground beef': 737,
 'escalope': 595,
 'herb & pepper': 371,
 'tomato sauce': 106,
 'magazines': 82,
 'strawberries': 160,
 'strong cheese': 58,
 'pickles': 45,
 'cake': 608,
 'hot dogs': 243,
 'brownies': 253,
 'cereals': 193,
 'clothes accessories': 63,
 'bug spray': 65,
 'muffins': 181,
 'light mayo': 204,
 'gums': 101,
 'soda': 47,
 'cider': 79,
 'corn': 36,
 'yogurt cake': 205,
 'mint': 131,
 'butter': 226,
 'asparagus': 35,
 'french wine': 169,
 'salt': 69,
 'tea': 29,
 'barbecue sauce': 81,
 'mayonnaise': 46,
 'zucchini': 71,
 'carrots': 115,
 'mushroom cream sauce': 143,
 'candy bars': 73,
 'chili': 46,
 'mashed potato': 31,
 'nonfat milk': 78,
 'water spray': 3,
 'chocolate bread': 32,
 'mint green tea': 42,
 'eggplant': 99,
 'blueberries': 69,
 'bacon': 65,
 'fromage blanc': 102,
 'gluten free bar': 52,
 'dessert wine': 33,
 'flax seed': 68,
 'hand protein bar': 39,
 'sandwich': 34,
 'babies food': 34,
 'melons': 90,
 'cauliflower': 36,
 'green beans': 65,
 'ketchup': 33,
 'bramble': 14,
 'burger sauce': 44,
 'oatmeal': 33,
 ' asparagus': 1,
 'cream': 7,
 'napkins': 5}

In [261]:
## I only care about the value so storing it in another list
values =[]
values.append(item_dix.values())
values

[dict_values([536, 153, 250, 193, 68, 70, 86, 239, 200, 228, 574, 991, 356, 37, 1788, 319, 67, 475, 53, 494, 654, 157, 1348, 120657, 31, 469, 972, 203, 439, 221, 1282, 379, 117, 58, 715, 1306, 49, 603, 383, 351, 1230, 450, 173, 167, 513, 107, 90, 139, 211, 118, 199, 37, 141, 47, 203, 86, 713, 393, 124, 61, 149, 323, 737, 595, 371, 106, 82, 160, 58, 45, 608, 243, 253, 193, 63, 65, 181, 204, 101, 47, 79, 36, 205, 131, 226, 35, 169, 69, 29, 81, 46, 71, 115, 143, 73, 46, 31, 78, 3, 32, 42, 99, 69, 65, 102, 52, 33, 68, 39, 34, 34, 90, 36, 65, 33, 14, 44, 33, 1, 7, 5])]

In [262]:
df1 = pd.DataFrame(values)
del df1[23]

df2=df1.T  # Taking the Transpose
df3=df2/7501 # to find the support of each item 
df3.describe()
#df2.iloc[20:24,:]

                0
count  120.000000
mean     0.032621
std      0.042373
min      0.000133
25%      0.007566
50%      0.015665
75%      0.035929
max      0.238368

In [251]:

df3

            0
0    0.071457
1    0.020397
2    0.033329
3    0.025730
4    0.009065
..        ...
116  0.005866
117  0.004399
118  0.000133
119  0.000933
120  0.000667

[120 rows x 1 columns]

In [266]:
 =df.sample(frac=0.3)
thirtypercent

In [271]:
thirtypercent

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
2429,shrimp,tomatoes,spaghetti,mineral water,chocolate,milk,bug spray,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1756,grated cheese,pepper,cake,bramble,chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,chocolate,avocado,milk,eggs,cooking oil,strawberries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2749,bacon,honey,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2266,mineral water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,tomatoes,ground beef,butter,flax seed,nonfat milk,light mayo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7320,tomatoes,muffins,chocolate,french fries,frozen smoothie,escalope,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2762,burgers,eggs,champagne,frozen smoothie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5656,burgers,eggs,pancakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4080,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
records = []
for i in range(0, 2250):
    records.append([str(thirtypercent.values[i,j]) for j in range(0, 20)])

In [236]:
association_rules = apriori(records, min_support=0.01, min_confidence=0.2, min_lift=3, min_length=2)

In [237]:
association_results = list(association_rules)

In [238]:
print(association_results[0])
print(association_results[1])
print(association_results[2])

RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3103448275862069, lift=3.2031002847200254)])
RelationRecord(items=frozenset({'burgers', 'eggs', 'french fries'}), support=0.010222222222222223, ordered_statistics=[OrderedStatistic(items_base=frozenset({'eggs', 'french fries'}), items_add=frozenset({'burgers'}), confidence=0.28750000000000003, lift=3.095095693779905)])
RelationRecord(items=frozenset({'spaghetti', 'ground beef', 'chocolate'}), support=0.011111111111111112, ordered_statistics=[OrderedStatistic(items_base=frozenset({'spaghetti', 'chocolate'}), items_add=frozenset({'ground beef'}), confidence=0.30120481927710846, lift=3.1087653365756607)])

In [224]:
nextthirtypercent =df.sample(frac=0.3)

In [225]:
nextthirtypercent

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1091,mineral water,milk,vegetables mix,chicken,green tea,chocolate,frozen smoothie,escalope,hot dogs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,ground beef,spaghetti,mineral water,chocolate,escalope,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2641,tomatoes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6545,soup,frozen smoothie,yogurt cake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,nonfat milk,cookies,mushroom cream sauce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,mineral water,milk,honey,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3678,mineral water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5463,cookies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6119,chocolate,ground beef,soup,energy drink,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
recordsnext = []
for i in range(0, 2250):
    recordsnext.append([str(nextthirtypercent.values[i,j]) for j in range(0, 20)])

In [232]:
association_rules_next = apriori(recordsnext, min_support=0.01, min_confidence=0.2, min_lift=3, min_length=2)

In [233]:
association_results_next = list(association_rules_next)

In [272]:
print(association_results[0])
print(association_results[1])

RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3103448275862069, lift=3.2031002847200254)])
RelationRecord(items=frozenset({'burgers', 'eggs', 'french fries'}), support=0.010222222222222223, ordered_statistics=[OrderedStatistic(items_base=frozenset({'eggs', 'french fries'}), items_add=frozenset({'burgers'}), confidence=0.28750000000000003, lift=3.095095693779905)])

In [269]:
print(association_results_next[0])

RelationRecord(items=frozenset({'burgers', 'eggs', 'french fries'}), support=0.010666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'eggs', 'french fries'}), items_add=frozenset({'burgers'}), confidence=0.27586206896551724, lift=3.0727210652099695)])